body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: rgb(128, 128, 128);
}
.game-board {
  width: 30rem;
  height: 30rem;
  background-color: lightgray;
  border: 4px double gray;
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-template-rows: 10rem 10rem 10rem;
}

.turn {
  margin-left: 9rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.square {
  width: 9.9rem;
  height: 9.9rem;
  border: 1px double gray;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  cursor: pointer;
}

.square:active {
  transform: scale(1.02);
}